name: encryvault
description: "EncryVault offline vault for passwords/secrets."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flutter_riverpod: ^2.5.1
  go_router: ^10.1.2
  sodium: ^2.3.1+1
  sodium_libs: ^2.2.1+6
  path_provider: ^2.1.2
  shared_preferences: ^2.2.2
  path: ^1.9.0
  uuid: ^4.3.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
